*{

    box-sizing: border-box;
    font-family: Sahel;
}

:root{
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}

body{
    background-image: url("../assets/55.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

a:hover{
    text-decoration: none;
}

.login_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, .7); */
}
.login_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(20px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
}

.login_header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}
.login_header span{
    font-size: 20px;
    color: var(--black-color);
}

.login_header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50% ;
    background-color: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}
.login_header::after{
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50% ;
    background-color: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}

.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

#user-login{
    margin-bottom: 10px;
}
.label{
    position: absolute;
    top: 15px;
    right: 20px;
    transition: .2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.icon-login{
    position: absolute;
    top: 10px;
    left:25px;
    font-size: 20px;
}
.remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 15px;

}
.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 900px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.register{
    text-align: center;
}

.register a{
    font-weight: 600;
}

@media only screen and (max-width: 564px){
    .login_wrapper{
        padding: 20px;
    }
    .login_box{
        padding: 7.5em 1.5em 4em 1.5em;
    }
}

#remember{
    font-size: 16px;

}

button{
    margin-right: 4.5em;
    margin-top: 2em;
    margin-bottom: 0;
}


.loginsignup{
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 0;
    padding: .5em;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.siginupbtn{
    margin-right: 140px;

}