{% extends 'store/base.html' %}

{% load static %}

{% block content %}





<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>جعبه سازی صالحی</p>
                    <h1>09196228188 / 09199638223 / 09356202245</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-article-section">
                    <div class="single-article-text">

                        <h2 class="pb-3"><span class="orange-text">جعبه سازی صالحی</span></h2>
                        <h5>شرکت بیمه سامان در تاریخ 1383/11/27 به منظور ارائه خدمات بیمه های بازرگانی در رشته بیمه‌های اموال، مسئولیت و اشخاص با سرمایه 200 میلیارد ریالی منقسم به 200 میلیون سهم با ارزش اسمی یک هزار ریالی در سازمان ثبت شرکتها با شماره ثبت 241059 ثبت شد و در تاریخ 1383/12/11مجوز فعالیت خود را در رشته های زندگی ، غیر زندگی و بیمه های اتکایی از بیمه مرکزی دریافت نمود و به عنوان ششمین عضو گروه مالی سامان فعالیت خود را آغاز کرد.</h5>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- featured section -->
<div class="feature-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <!-- <i class="fas fa-shipping-fast"></i> -->
                                </div>
                                <div class="content">
                                    <h3><img src="../../static/assets/20240301_120438_0000.png" style="height: 150px;" alt=""></h3>
                                    <p>امکان ارسال به آدرس شما</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <!-- <i class="fas fa-money-bill-alt"></i> -->
                                </div>
                                <div class="content">
                                    <!-- <h3>قیمت مناسب</h3> -->
                                    <img src="../../static/assets/20240301_120320_0000.png" style="height: 150px;" alt="">
                                    <p>پرداخت از طریق دستگاه پز  یا کارت به کارت</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <!-- <i class="fas fa-briefcase"></i> -->
                                </div>
                                <div class="content">
                                    <!-- <h3>Custom Box</h3> -->
                                    <img src="../../static/assets/20240301_120952_0000.png" style="height: 150px;" alt="">

                                    <p>تضمین کیفیت (بسته به انتخاب شما)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <!-- <i class="fas fa-sync-alt"></i> -->
                                </div>
                                <div class="content">
                                    <!-- <h3>Quick Refund</h3> -->
                                    <img src="../../static/assets/20240301_121348_0000.png" style="height: 150px;" alt="">

                                    <p>همه روزه جواب گوی سوالات شما بصورت انلاین هستیم  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end featured section -->

<!-- shop banner -->
<section class="shop-banner">
    <div class="container">
        <h3 class="text-center" id="margin">طراحی لوگو برای مشتریان با<span class="orange-text" id="">&nbsp;20%&nbsp;تخفیف</span></h3>
        <a href="#" class="cart-btn btn-lg" id="margina">Shop Now</a>
    </div>
</section>








{% endblock %}