	{% load static %}
    	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'assets/logos/7.png' %}" alt="logo">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/logos/1.png' %}" alt="logo">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/logos/2.png' %}" alt="logo">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/logos/3.png' %}" alt="logo">
						</div>

						<div class="single-logo-item">
							<img src="{% static 'assets/logos/4.png' %}" alt="logo">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/logos/5.png' %}" alt="logo">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/logos/6.png' %}" alt="logo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel --> 
    <!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 col-md-12">
					<div class="footer-box get-in-touch text-center" id="footer-box">
						<h2 class="widget-title">تماس با ما</h2>
						<hr class="orange-text" size="3"/>
						<ul>
							<li>تهران , خیابان رجایی , خیابان همدانی , خیابان نهر فیروز آبادی , روبروی بارک بهاران</li>
							<li  class="text-center">Vbox-support@gmail.com</li>
							<li class="text-center">288 60 550 021</li>
							<li>برای مشاوره رایگان و سفارش لطفا به شماره های زیر در سرویس های پیام رسان زیر پیام دهید</li>
							<li  class="text-center">09196228188</li>
							<li  class="text-center">09199638223</li>
							<li  class="text-center">09356202245</li>
							<hr>
							<a href="https://maps.app.goo.gl/DU8kWdZz8mCZbuLA6" class="boxed-btn">آدرس در نقشه گوگل</a>
							<div class="social-icons text-center">
								<ul>
									<li><a href="#" target="_blank"><i class="ri-whatsapp-line"></i></a></li>
									<li><a href="#" target="_blank"><i class="ri-telegram-line"></i></a></li>
									<li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
									<li><a href="#" target="_blank"><i class="ri-chat-check-line"></i></a></li>
								</ul>
							</div>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-4 product-image">
					<img src="{% static 'assets/vbox.jpg' %}" alt="map"></div>
					<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d787.5594011204303!2d51.41668255485941!3d35.63891919688768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f91ffcff5057397%3A0x76cf0d4367b900d7!2z2qnYp9ix2KrZhiDYs9in2LLbjCDYtdin2YTYrduM!5e0!3m2!1sen!2spl!4v1706273936770!5m2!1sen!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>		 -->
					

	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<p>کبی رایت &copy; 1403 - <a href="https://imransdesign.com/">(vbox)</a> کلیه حقوق این وبسایت برای کارتن سازی صالحی  محفوظ می باشد و هرگونه کپی برداری بدون ذکر منبع هم از نظر شرعی و هم از نظر قانونی جرم میباشد.<br>
						Distributed By - <a  href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
