{% extends 'store/base.html' %}

{% load static %}




{% block content %}

	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<h1>به طرح دلخواه شما</h1>
								<p class="subtitle">سفارش کارتن با ابعاد اختصاصی و تعداد دلخواه</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09196228188</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09199638223</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09356202245</p>
								<a href="#" class="big-icon text-white "><i class="ri-whatsapp-line"></i></a> <a href="#" class="big-icon text-white"><i class="ri-telegram-line"></i></a><a href="#" class="big-icon text-white"><i class="ri-instagram-line"></i></a>
								<div class="hero-btns">
									<a href="#section-title" class="boxed-btn">محصولات</a>
									<a href="#footer-box" class="bordered-btn">تماس با ما</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">چون مستقیم از تولید کننده میخری</p>
								<h1>قیمت های باور نکردنی</h1>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09199638223</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09356202245</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09196228188</p>
								<a href="#" class="big-icon text-white "><i class="ri-whatsapp-line"></i></a> <a href="#" class="big-icon text-white"><i class="ri-telegram-line"></i></a><a href="#" class="big-icon text-white"><i class="ri-instagram-line"></i></a>
								<div class="hero-btns">
									<a href="#section-title" class="boxed-btn">محصولات</a>
									<a href="#footer-box" class="bordered-btn">تماس با ما</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<h1>طراحی لوگو و شابلون</h1>
								<p class="subtitle">با بهترین قیمت لوگو خودتو بساز</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09356202245</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09196228188</p>
								<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09199638223</p>
								<a href="#" class="big-icon text-white "><i class="ri-whatsapp-line"></i></a> <a href="#" class="big-icon text-white"><i class="ri-telegram-line"></i></a><a href="#" class="big-icon text-white"><i class="ri-instagram-line"></i></a>
								<div class="hero-btns">
									<a href="#section-title" class="boxed-btn">محصولات</a>
									<a href="#footer-box" class="bordered-btn">تماس با ما</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="single-homepage-slider homepage-bg-2">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1 text-center">
							<div class="hero-text">
								<div class="hero-text-tablecell">
									<p class="subtitle">قالب های آماده , جعبه آماده</p>
									<h1>کارتن پستی در شماره های مختلف </h1>
									<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09196228188</p>
									<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09199638223</p>
									<p class="subtitle-small"><i class="ri-phone-fill"></i>&#8594; 09356202245</p>
									<a href="#" class="big-icon text-white "><i class="ri-whatsapp-line"></i></a> <a href="#" class="big-icon text-white"><i class="ri-telegram-line"></i></a><a href="#" class="big-icon text-white"><i class="ri-instagram-line"></i></a>
									<div class="hero-btns">
										<a href="#section-title" class="boxed-btn">محصولات</a>
										<a href="#footer-box" class="bordered-btn">تماس با ما</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<!-- end home page slider -->

	<!-- features list section -->
	{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
	<strong>{{ message }}</strong>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
{% endif %}
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<!-- <div class="list-icon"> -->
							<!-- <i class="fas fa-shipping-fast"></i> -->
						<!-- </div> -->
						<div class="content">
							<h3>انواع جعبه کارتن</h3>
							<p>معمولی(چهار درب)</p>
							<p>دایکاتی(ته قفلی, دارویی , سینی و..)</p>
							<p>لمینتی : چسباندن ورق روی سینگل </p>
							<p>5لایه , 3 لایه</p>

						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<!-- <div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div> -->
						<div class="content">
							<h3>چسب ها</h3>
							<p>چسب نواری قهوه ای</p>
							<p>کاغذی</p>
							<p>مایع سیلیکات مخصوص کارتن</p>

						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<!-- <div class="list-icon">
							<i class="fas fa-sync"></i>
						</div> -->
						<div class="content">
							<h3>خدمات چاپ و طراحی</h3>
							<p>طراحی شابلون : برای چاپ تک رنگ روی کارتن</p>
							<p>طراحی چاپ افست </p>
							<p>طراحی کارت ویزیت</p>
							<h6>طراحی لوگو : کارت ویزیت , شابلون , سایت</h6>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="section-title">	
						<h3> دسته بندی<span class="orange-text"> محصولات </span></h3>
						<p>قبل از سفارش لطفا به <a href="{% url 'amozesha' %}">نکات قبل خرید</a> توجه فرمایید .</p>
					</div>
				</div>
			</div>

			<div class="row">



                
            {% for cate in category_shop %}
                <div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'shop' %}"><img src="{{ cate.image.url }}" alt=""></a>
						</div>
						<h3>{{ cate.name }}</h3>
						<a href="{% url 'shop' %}" class="cart-btn"> مشاهده </a>
					</div>
				</div>
                {% endfor %}
				{% for catego in category_show %}
                <div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'product_show' catego.id %}"><img src="{{ catego.image.url }}" alt=""></a>
						</div>
						<h3>{{ catego.name }}</h3>
						<a href="#" class="cart-btn"> مشاهده </a>
					</div>
				</div>
                {% endfor %}
				{% for categor in category_amade %}
                <div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'product_amade' %}"><img src="{{ categor.image.url }}" alt=""></a>
						</div>
						<h3>{{ categor.name }}</h3>
						<a href="#" class="cart-btn"> مشاهده </a>
					</div>
				</div>
				{% endfor %}
				{% for category in category_nemone %}
                <div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'product_nemone' %}"><img src="{{ category.image.url }}" alt=""></a>
						</div>
						<h3>{{ category.name }}</h3>
						<a href="{% url 'product_nemone' %}" class="cart-btn"> مشاهده </a>
					</div>
				</div>
				{% endfor %}


			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>10%</strong> <br> بالای 100 عدد
                                </span>
                            </div>
                        </div>
                    	<img src="/static/assets/a.png" alt="box">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><a href="{% url 'shop' %}"><span class="orange-text">تخفیف های</span></a> این ماه</h3>
                    <h4>کارتن پستی</h4>
                    <h4>کارتن آماده</h4>
                    <h4>چسب</h4>

                    <!-- <div class="text">جنس : تست , فلوت , ایرانی :3لایه <br>  سایز ورق :200*90</div> -->
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2024/4/02"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
			<!-- <a href="#" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> اطلاعات بیشتر </a> <br> -->
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="mywrapper">
			<i id='myleft'class="ri-arrow-left-s-line"></i>
			<ul class="mycarousel">
				{% for product in product_off %}
				<li class="mycard">
					<div class="mydetail">
						<div>
							<h1> OFF</h1>
							<p>{{ product.name }} </p>
						</div>
					</div>
					<div class="mymore">
						<h2>{{product.sale_price}}</h2>
						<div class="myimg">
							<img src="{{ product.image.url }}" alt="off" draggable="false">
						</div>
						<a href="{% url 'shop' %}" class="neon-button"> اطلاعات بیشتر</a>
					</div>
				</li>
				{% endfor %}
				<!-- <li class="mycard">
					<div class="mydetail">
						<div>
							<h1> دارویی</h1>
							<p>( ۱۸ * ۱۷ * ۱۵) <br> تست / سی فلوت /ایرانی <br> رنگ / سفید </p>
						</div>
					</div>
					<div class="mymore">
						<h2>18,200</h2>
						<div class="myimg">
							<img src="#" alt="#"draggable="false">
						</div>
						<a href="#" class="neon-button"> اطلاعات بیشتر</a>
					</div>
				</li>
				<li class="mycard">
					<div class="mydetail">
						<div>
							<h1> دارویی</h1>
							<p>( ۱۸ * ۱۷ * ۱۵) <br> تست / سی فلوت /ایرانی <br> رنگ / سفید </p>
						</div>
					</div>
					<div class="mymore">
						<h2>18,300</h2>
						<div class="myimg">
							<img src="#" alt="#" draggable="false">
						</div>
						<a href="#" class="neon-button"> اطلاعات بیشتر</a>
					</div>
				</li>
				<li class="mycard">
					<div class="mydetail">
						<div>
							<h1> دارویی</h1>
							<p>( ۱۸ * ۱۷ * ۱۵) <br> تست / سی فلوت /ایرانی <br> رنگ / سفید </p>
						</div>
					</div>
					<div class="mymore">
						<h2>18,400</h2>
						<div class="myimg">
							<img src="#" alt="#" draggable="false">
						</div>
						<a href="#" class="neon-button"> اطلاعات بیشتر</a>
					</div> -->
				</li>
			</ul>
			<i id='myright'class="ri-arrow-right-s-line"></i>
		</div>
		<!-- <main>
								<div class="mycard">
								  <div class="mydetail">
									  <div>
										  <h1> دارویی</h1>
										  <p>( ۱۸ * ۱۷ * ۱۵) <br> تست / سی فلوت /ایرانی <br> رنگ / سفید </p>
									  </div>
								  </div>
								  <div class="mymore">
									  <h2>18,500</h2>
									  <div class="myimg">
										  <img src="assets/img/products/product-img-12.jpg" alt="#">
									  </div>
									  <a href="#" class="neon-button"> اطلاعات بیشتر</a>
								  </div>
								</main> -->
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150 abouthome">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<!-- <a href="#" class="video-play-btn popup-youtube"></a> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">از سال 1370</p>
						<h2>جعبه سازی <span class="orange-text">صالحی</span></h2>
						<p class="but-sub">آماده ارائه انواع ورق با فلوت های B , C , E   </p>
						<p class="but-sub">- سينگل , سه لایه و پنج لایه , چاپ تک رنگ  </p>
						<p class="but-sub">- انواع جعبه لمینتی  </p>
						<p class="but-sub">- انواع جعبه دایکاتی  </p>
						<p class="but-sub"> - طراحی لوگو برای چاپ یک رنگ (شابلون) , کارت ویزیت , وب سایت  </p>

						<p class="but-sub"> به مشتریان گرامی می باشد. جهت استعلام قیمت به روز انواع کارتن سه لایه و پنج لایه می توانید با کارشناسان واحد فروش تماس بگیرید.</p>
						<a href="{% url 'aboutus' %}" class="boxed-btn mt-4">اطلاعات بیشتر</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3 class="text-center" id="margin">طراحی لوگو برای مشتریان با<span class="orange-text" id="">&nbsp;20%&nbsp;تخفیف</span></h3>
            <a href="#" class="cart-btn btn-lg" id="margina">Shop Now</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">نکات</span> و آموزش </h3>
						<p>توضیحاتی که اگه بدونی سفارش دادن برات خیلی راحت تر میشه </p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'amozesha' %}"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'amozesha' %}">نکات مهمی که باید قبل از خرید بدانید.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> صالحی</span>
								<span class="date"><i class="fas fa-calendar"></i> 5 بهمن 1402</span>
							</p>
							<p class="excerpt">توضیحاتی در مورد زمان و محل تحویل سفارش , مقدار هزینه قبل سفارش و نحوه سفارش و ...</p>
							<a href="{% url 'amozesha' %}" class="read-more-btn">مطالعه <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'amozeshb' %}"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'amozeshb' %}">آموزش اندازه گرفتن محصول</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> صالحی</span>
								<span class="date"><i class="fas fa-calendar"></i> 5 بهمن 1402</span>
							</p>
							<p class="excerpt">اندازه گیری (طول , عرض , ارتفاع) و نکاتی که باید هنگام اندازه گیری کردن دانست .</p>
							<a href="{% url 'amozeshb' %}" class="read-more-btn">مطالعه <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="{% url 'amozeshc' %}"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'amozeshc' %}">اطلاعاتی مفید درباره کارتن.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> صالحی</span>
								<span class="date"><i class="fas fa-calendar"></i> 5 بهمن 1402</span>
							</p>
							<p class="excerpt">انواع جنس و رنگ کارتن , توضیحاتی در مورد لمینت شابلون و دایکات ... </p>
							<a href="{% url 'amozeshc' %}" class="read-more-btn">مطالعه <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{% url 'amozesh' %}" class="boxed-btn">آموزش بیشتر</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->
	{% block script %}
	<script src="{% static 'js/main1.js' %}"></script>
	{% endblock %}

{% endblock %}