{% extends 'store/base.html' %}

{% load static %}

{% block content %}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>مشاوره و سفارش </p>
                    <h1>09196228188 / 09199638223 / 09356202245</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->


        <div class="mt-150 mb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12  text cnter">
                        <div class="single-article-section">
                            <div class="single-article-text text-center">


<div class="wrapper">  
<p class="h2"> برای اطلاع از موجود بودن قالب با یکی از مشاورین فروش تماس بگیرید !</p>
<div class="accordion">

  <div class="accordion-panel">
    <h2 id="panel1-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
        ته قفلی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel1-title" aria-hidden="true" id="panel1-content">
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <div class="accordion-panel">
    <h2 id="panel2-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
        سینی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel2-title" aria-hidden="true" id="panel2-content">
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <div class="accordion-panel">
    <h2 id="panel3-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
        دارویی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel1-title" aria-hidden="true" class="accordion-content" id="panel3-content">
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
            </tbody>
          </table>		  
        </div>
    </div>
  </div>

  <div class="accordion-panel">
    <h2 id="panel4-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
        پیتزایی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel4-title" aria-hidden="true" class="accordion-content" id="panel4-content">
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="accordion-panel">
    <h2 id="panel5-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion5-content">
        معمولی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel5-title" aria-hidden="true" class="accordion-content" id="panel3-content">
      <div class="">
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
              <tr>
                <!-- code -->
                <th scope="row">535</th>
                <!-- ertefa -->
                <td>16</td>
                <!-- arz -->
                <td>25</td>
                <!-- tol -->
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">510</th>
                <td>18</td>
                <td>25</td>
                <td>45</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">-</td>
                <td>@vbox</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>


</div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>







{% block script %}<script src="{% static 'js/main2.js' %}"></script>{% endblock %}


{% endblock %}