{% extends 'store/base.html' %}

{% load static %}


{% block  head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>مشاوره و سفارش </p>
						<h1>09196228188 / 09199638223 / 09356202245</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
<h5 class="text-center"> جستوجو : </h5>

{% if searched %}

<div class="product-section mt-150 mb-150">
<div class="container">

	<div class="row product-lists">
        {% for product in searched %}


        {% if product.status %}
        <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
                <div class="product-image">
                    <a href="{% url 'product_shop' product.id %}"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                </div>
                <h3>{{ product.name }}</h3>
                <p class="product-price"> &nbsp;<inc>{{ product.sale_price }} تومان</inc><span> &#11157; &nbsp;<del>{{ product.price }}</del> &nbsp;</span></p>
                <a href="{% url 'product_shop' product.id %}" class="cart-btn"> مشاهده </a>
                <!-- <button type="button" value="{{ product.id }}" class="cart-btn" id="add-cart"> اضافه به سبد <i class="ri-shopping-cart-fill"></i></button> -->
            </div>
        </div>
        {% else %}
        <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
                <div class="product-image">
                    <a href="#"><div class="badge bg-danger text-white position-absolute"> تمام شد </div><img src="{{ product.image.url }}" alt=""></a>
                </div>
                <h3>{{ product.name }}</h3>
                <p class="product-price"> -- <span></span></p>
                <a href="#" class="cart-btn"> ناموجود </a>

            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>
</div>

{% else %}
<h5 class="text-center"> محصولی پیدا نشد. </h5>

{% endif %}

{% endblock %}